* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --swiper-navigation-color: goldenrod;
    --swiper-pagination-color: goldenrod;
}

body {

    min-height: 100vh;
    background-color: #C4C4C4;
    display: flex;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.nav-bar {
    margin-top: 1.5rem;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.elements-nav {
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.ele-nav {
    color: rgb(31, 31, 31);
    cursor: pointer;
    transition: 0.2s;
}

.ele-nav:hover {
    color: goldenrod;
}

hr {
    width: 100%;
    background-color: goldenrod;
    border-style: none;
    height: 2px;
}

.home {
    height: 523px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 4rem;
    gap: 1.5rem;
    text-align: right;
}

.img-pic-title {
    width: 880px;
    height: 500px;
    background-image: url(https://i.pinimg.com/736x/db/97/c6/db97c6db12c24577d247c8c24bdb4760.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    border-radius: 0px 40px 0px 0px;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.sub-title {
    width: 80%;
    font-size: 16px;
    color: gray;
}

.btns {

    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.contact {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: goldenrod;
    color: #fff;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.contact:hover {
    background-color: rgb(195, 193, 193);
    color: black;
}

.see-pics {
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
    cursor: pointer;

}

.see-pics:hover {
    color: goldenrod;
    transition: 0.3s;
}

.how-work {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.local {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.etaps {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
}

.cader {
    align-self: center;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(244, 240, 240, 0.867);
}

.in-img {
    width: 50%;
}

.imgs {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5rem;
}

.title-two {
    font-size: 60px;
    font-weight: bold;
}

.ic-on {
    width: 30px;
}

.why-us {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.down {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.part-why-element {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    gap: 1rem;
}

.sub-title-tree,
.details,
.sub-title-five {
    color: gray;
}

.element-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.four {
    background-color: #e2e1e1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 400px;
}

.img-two {
    width: 30%;
    height: 70%;
}

.five {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
}

.part-review {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 1rem;
    height: 100%;
}

figure.snip1157 {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1157 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
    max-width: 100%;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 25px 50px 30px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
    font-family: "FontAwesome";
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1157 blockquote:before {
    top: 25px;
    left: 20px;
}

figure.snip1157 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
}

figure.snip1157 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #fafafa;
    margin: 0;
    position: absolute;
}

figure.snip1157 .author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    text-transform: uppercase;
    color: #262525;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

figure.snip1157 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

figure.snip1157 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
}

/* Demo purposes only */
html {
    height: 100%;
}

/* footer section start */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#footer {
    background: #f7f7f7;
    padding: 3rem;
    /* padding-top: 5rem; */
    padding-top: 7rem;
    margin-top: 2rem;
    padding-bottom: 80px;
    background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}

.logo-footer {
    max-width: 300px;
}



.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.social-links h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.social-links img {
    padding-bottom: 25px;
}

.social-icons {
    display: flex;
    gap: 5px;
    flex-direction: column;
    color: #777777;
    width: 100%;
}

.social-icons a {
    /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
    /* margin-right: 18px; */
    color: #777777;

}

.social-icons a:hover {
    color: #000;
}

.social-icons a i {
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px; */
    /* padding: 0.4rem 1rem 0.4rem 1rem; */
    /* border-radius: 3px; */
    color: #82074a;
    font-size: 16px;
    margin-right: 12px;
}

li {
    list-style: none;

}

.useful-link h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.useful-link img {
    padding-bottom: 15px;
}

.use-links {
    line-height: 32px;
}

.use-links li i {
    font-size: 14px;
    padding-right: 8px;
    color: #898989;
}

.use-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.use-links li a:hover {
    color: #000;
}

.address h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.address img {
    padding-bottom: 15px;
}

.address-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;

}

.address-links li i {
    font-size: 16px;
    padding-right: 8px;
    color: goldenrod;

}

.address-links li i:nth-child(1) {
    padding-top: 9px;

}

.address-links .address1 {
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.address-links {
    line-height: 32px;
    color: #777777;
}

.copy-right-sec {
    padding: 1.8rem;
    background: #dbdbdb;
    color: #000000;
    text-align: center;
}

.copy-right-sec a {
    color: goldenrod;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* footer section end */

.icon-soc {
    width: 20px;
    margin-top: 15px;

}

------- SWIP one SATRT ------ .swip-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 900px;
    padding: 10px;
}

.title-swip,
.title-swip-a {
    text-align: center;
    margin: 1rem;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

swiper-slide img {
    display: block;
    width: 100%;
}

------- SWIP one END ------ ------- SWIP two START ------ swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}

swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

swiper-slide {
    background-size: cover;
    background-position: center;
}



.demende {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: goldenrod;
    width: 65%;
    height: 90%;
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    gap: 1.5rem;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.details {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 3rem;
}

.info {
    width: 20%;
    font-size: 26px;
    text-align: end;
    color: goldenrod;
    font-weight: bold;
}

.in-text {
    width: 80%;
    text-align: end;
    padding: 1rem;
}

.btn-send {
    /* margin-top: 2rem; */
    width: 38%;
    align-self: center;
    height: 54px;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: goldenrod;
    color: #fff;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    border-radius: 10px;

}

.btn-send:hover {
    background-color: rgb(178, 178, 177);
    color: black;
}

.link {
    color: #000;
}

.link:hover {
    color: gray;
}

.title-damende {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.place-title {
    background-color: goldenrod;
    height: 100px;
    width: 78%;
    position: relative;
    left: 400px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pic-on {
    position: relative;
}

.pic-in {
    width: 50px;
    background-color: rgba(220, 168, 36, 0.741);
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}



.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 15px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;

}

.button2>svg {
    height: 26px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button3 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 15px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.button3>svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
}

.button3:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.button3:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button3:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button3:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.button3:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button3:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btns-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70%;
    height: 60px;
}


.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.best-d {
    background: #eee;
    width: 100%;
    height: 2400PX;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}



.swiper {
    width: 95%;
    height: 100%;
    display: flex;
    text-align: center;
    gap: 1rem;
}

.swiper-slide img {
    width: 92%;
    height: 92%;

}



















@media screen and (max-width: 650px) {
    .nav-bar {
        height: 20px;
    }


    .logo {
        width: 35px;
    }

    .elements-nav {
        gap: 0.5rem;
        font-size: 10px;
    }

    .home {
        height: 350PX;
    }

    .left {

        width: 46%;
        gap: 5px;
        margin-right: 1rem;

    }

    .title {
        font-size: 12px;
    }

    .btns {
        height: 40%;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

    }


    .button2 {
        position: relative;
        /* width: 50%; */
        font-size: 12px;

    }





    .contact,
    .see-pics {

        width: 70%;
        height: 50px;
    }

    .see-pics {
        font-size: 9px;
    }



    .up-title {
        font-size: 8px;
    }

    .sub-title {
        font-size: 8px;
    }

    .img-pic-title {
        width: 45%;
        height: 98%;
        background-image: url("https://i.pinimg.com/564x/b9/5e/d7/b95ed708c1974938723bf86f7208a576.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* border-radius: 0px 20px 20px 0px; */
    }

    .title-two {
        font-size: 35px;
    }

    .sub-title-two {
        text-align: center;
        font-size: 12px;
    }

    .etaps {
        width: 100%;
        padding: 0px;
    }

    .local {
        width: 100%;
    }

    .imgs {
        width: 70%;
    }

    .cader {
        width: 65px;
        height: 65px;
    }

    .title-img {
        font-size: 16px;
        text-align: center;
    }

    .sub-title-img {
        font-size: 7px;
    }

    .how-work {
        width: 100%;
        padding: 0.5rem;
        gap: 2px;
    }

    .why-us {
        padding: 0.5rem;
        height: 400px;
        gap: 1PX;
    }

    .img-why {
        width: 90%;
    }

    .title-tree {
        font-size: 25px;
    }

    .sub-title-tree {
        font-size: 10px;
    }

    .part-why-element {
        gap: 0.5rem;
        width: 50%;
    }

    .title-right {
        font-size: 15px;
    }

    .details {
        font-size: 7px;
    }

    .element-right {
        gap: 0.5rem;
        width: 100%;
    }

    .down {
        margin-top: 0rem;
        gap: 0.1rem;
        padding: 0;
    }

    .img-part {
        width: 50%;
        justify-content: center;
        align-items: center;
        /* margin-top: 100px; */
    }

    .part-why-element {
        gap: 1PX;
    }

    .element-right {
        width: 90ù;
        gap: 1PX;
    }


    .ic-on {
        width: 20px;
    }

    main {
        gap: 1rem;
    }

    .four {
        height: 170px;
        width: 100%;
        gap: 10px;
    }

    .title-five {
        font-size: 25px;
    }

    .sub-title-five {
        font-size: 12px;
    }

    .demende {
        height: 300px;
    }

    .card {
        padding: 0.5rem;
        width: 80%;
        height: 100%;
        padding-top: 0px;
        gap: 0.5rem;
    }

    .details {
        gap: 0.5rem;
    }

    .info {
        width: 50%;
        font-size: 12px;
    }

    .btn-send {
        /* margin-top: px; */
        /* margin-right: 14px; */
        height: 30px;
        font-size: 9px;

    }

    .place-title {
        top: 5px;
        left: 100px;
        height: 40px;

    }

    .title-damende {
        font-size: 13px;
    }

    #footer {
        padding: 0.5rem;
        padding-top: 1rem;
    }

    /* 
    .img-fluid {
        width: 80px;
    } */

    .useful-link h2 {
        padding-bottom: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col-md-3 {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .use-links {
        text-align: center;
    }


    li {
        height: 35px;
        font-size: 22px;
        text-align: center;
    }

    .address {
        margin-top: 25px;
        height: 160px;
    }

    h2 {
        margin-top: 15px;
        text-align: center;
        height: 1px;
    }

    .mySwiper {
        width: 100%;
        height: 400px;
        gap: 0.5rem;
    }

    .swiper-wrapper {
        gap: 0px;
    }

    .best-d {
        height: 1300px;
    }

    .pic-in {
        width: 20px;
        padding: 2px;
        font-size: 10px;
    }

    .button3 {
        font-size: 9px;
        display: var(--swiper-navigation-color);

    }

    .button3>svg {
        height: 20px;
    }

    .part-review {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-footer {
        width: 100px;
        margin-bottom: 10px;
    }

}
